/*#region - start of - global styles */
* {
  box-sizing: border-box;
}

body {
  /* font-family: 'Lobster', cursive; */
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}

/*#endregion - end of - global styles */
